:root{
  --navbar-bg: #5c459c;

  --background-primary:#212121;
  --background-secondary:#272727;

  --container-width-max: 800px;
}
.assets{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--background-secondary);
  padding: 0.5rem;
  margin: 0.5rem;
}
.assets-title{
  padding: 0.2rem 0;
  color: rgb(141, 141, 141);
  font-size: 0.8rem;
}
.assets-title, .assets-value{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.assets-value{
  margin: 0.5rem 0;
  padding: 0.5rem 0.3rem;
  border-radius: 8px;
}
.assets-value:hover{
  background-color: #9772fc24;
  cursor: pointer;
}

/* Modal */
.Modal {
  /* display: flex; */
  /* top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px; */
    position: absolute;
    padding: 1rem;
    width: 26rem;
    height: 20rem;
    border-radius: 8px;
    background-color: var(--background-primary);
  }

  .Overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(50, 50, 50, 0.75);
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    margin-bottom: 0.8rem;
  }
  .modal-close{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #383838;
  }
  .modal-close:hover{
    background-color: #272727;
    font-weight: bold;
    cursor: pointer;
  }
  .coin-dropdown{
    /* background-color: red; */
  }
  .coin-dropdown select{
    font-size: 1rem;
    width: 100%;
    /* height: 2.2rem; */
    padding: 0.8rem 1rem;
    border-radius: 8px;
    background-color: var(--background-secondary);
    color: white;
    
  }
  .coin-dropdown select option .options{
    padding: 4rem ;
    background-color: #5c459c;
  }