:root{
  --navbar-bg: #5c459c;

  --background-primary:#212121;
  --background-secondary:#272727;
  --background-light: #383838;
  --container-width-max: 800px;
  --text-color-light:rgba(145,145,159);

}
.assets{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--background-secondary);
  padding: 1.2rem;
  margin: 0.5rem;
}
.assets-title{
  padding: 0.2rem 0;
  color: rgb(141, 141, 141);
  font-size: 0.8rem;
}
.assets-title, .assets-value{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.assets-value{
  margin: 0.6rem 0;
  padding: 0.5rem 0.3rem;
  border-radius: 8px;
}
.assets-value:hover{
  background-color: #9772fc24;
  cursor: pointer;
}
.asset{
  width: 3rem;
  /* text-align: center; */
  max-width: 8rem;
  /* padding: 0 1rem; */
  /* background-color: blue; */
}
.price{
  text-align: center;
  /* background-color: red;
  padding: 0 2rem; */
}
.price span span{
  bottom: 0px;
  padding-right: 2px;
  /* background-color: red; */
}

/*^ Modal */
.Modal {
  /* display: flex; */
  /* top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px; */
    position: absolute;
    padding: 1rem;
    width: 96%;
    max-width: 26rem;
    /* height: 20rem; */
    border-radius: 8px;
    background-color: var(--background-primary);
  }

.Overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.75);
}
.modal-header{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  margin-bottom: 0.8rem;
}
.modal-close{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #383838;
}
.modal-close:hover{
  background-color: #272727;
  font-weight: bold;
  cursor: pointer;
}
.transaction-type{
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
  /* margin: 0.8rem 0; */
  margin-bottom: 0.8rem;
  border-radius: 8px;
  background-color: var(--background-light);
}
.transaction-type p{
  padding: 0.4rem 20%;
  border-radius: 8px;
  background-color: var(--background-light);
}
.transaction-type p:hover{
  background-color: var(--background-primary);
  cursor: pointer;
}
.transaction-type p.active{
  background-color: var(--background-primary);
}
.coin-dropdown{
  margin-bottom: 0.8rem;
  /* background-color: red; */
}
.coin-dropdown select{
  font-size: 1rem;
  width: 100%;
  /* height: 2.2rem; */
  padding: 0.8rem 1rem;
  border-radius: 8px;
  background-color: var(--background-secondary);
  color: white;
  border: 1px solid var(--background-light);
  
}
.coin-dropdown select option .options{
  padding: 4rem ;
  background-color: #5c459c;
}
.coin-values{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  margin-bottom: 0.8rem;
}
.coin-value-cell{
  width: 50%;
}
.coin-value-cell p{
  padding: 0.1rem 0.3rem;
  font-size: 0.9rem;
}
.coin-value-cell input{
  padding: 0.4rem;
  border-radius: 8px;
  color: white;
  background-color: var(--background-primary);
  border: 1px solid var(--background-light);
}
/* -------------------- */
.date{
  color: white;
  border-radius: 8px;
  margin-bottom: 0.8rem;
  /* background-color: red; */
}
.date-picker{
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 8px
  /* padding: 3rem; */
  /* background-color: #5c459c; */
}
/*------------------ */
.total-spent{
  padding: 0.8rem 0.5rem;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  background-color: var(--background-secondary);
  border: 1px solid var(--background-light);
}
/* --------------------- */
.btn-modal{
  width: 100%;
  padding: .6rem;
  border-radius: 8px;
  border: 1px solid var(--navbar-bg);
  color: var(--navbar-bg);
  background-color: transparent;
  cursor: pointer;
}
.btn-modal:hover{
  background-color: #5c459c2d;
}


/*^ Portfolio Stats */
.portfolio-stats-container{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--background-secondary);
  padding: 0.8rem;
  margin: 0.5rem;
}
.portfolio-overview{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
}
.left .title{
  font-size: 0.8rem;
  color: var(--text-color-light);
}
.portfolio-stats{
  /* background-color: red; */
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 0.5rem;
  margin-top: 1rem;
}
.portfolio-stats-chart{
  border-radius: 8px;
  background-color: var(--background-primary);
}
.portfolio-stats-values{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}
.total-change{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  /* color: var(--text-color-light); */
  background-color: var(--background-primary);
}
.sub-stats{
  display: flex;
  gap:0.5rem;
  width: 100%;
}
.sub-stats-block{
  font-size: 0.8rem;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--background-primary);
}
.sub-stats-block span{
  color: var(--text-color-light);
}

.btn-addasset{
  margin: 1rem 1rem;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid var(--navbar-bg);
  border-radius: 10px;
  background-color: transparent;
  color: var(--navbar-bg);
}
.btn-addasset:hover{
  background-color: var(--navbar-bg);
  color: white;
  cursor: pointer;
}



  /* For mobile phones: */
@media only screen and (max-width: 768px) {
  .portfolio-stats{
    display: grid;
    /* grid-template-columns: 4fr 6fr; */
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 3fr;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}