:root{
  --navbar-bg: #5c459c;

  --background-primary:#212121;
  --background-secondary:#383838;

  --container-width-max: 800px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--background-primary);
  color: #e4e4e4;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  height: 100%;
}
.container{
  max-width: var(--container-width-max);
  margin: 0 auto;
}
.red{
  color: rgb(255, 73, 73);
}
.green{
  color: rgb(51, 255, 51);
}
/** ::::: Navbar ::::: */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg);
  padding: 0.5rem 2rem;
}
.navbar ul{
  display: flex;
  /* background-color: aqua; */
}
.navbar ul li{
  padding: 0.5rem;
  text-decoration: none;
  list-style-type: none;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
}

/** ::::: MarketList ::::: */
.market-list{
  margin: 1rem;
}
.market-list a{
  text-decoration: none;
  color: white;
}
.market-list--title, .market-list--row{
  display: flex;
  justify-content: space-between;
}
.market-list--title{
  background-color: var(--navbar-bg);
  padding: 0.5rem 0;
  border-radius: 6px;
}
.market-list--row{
  border: 1px solid rgb(107, 107, 107);
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-radius: 6px;
}
.market-list--title p, .market-list--row p{
  font-size: 1rem;
  width: 6rem;
  /* background-color: aqua; */
}
.market-list--row:hover{
  background-color: #9772fc24;
}
.list-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item p{
  font-size: .8rem;
}
.coin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  width: 10px;

  font-size: 1rem;
  width: 6rem;
}
.coin p{
  text-align: center;
}
.coin-image{
  width: 26px;
}


/** ::::: Crypto ::::: */
.crypto-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
/* time percentage info */
.time-percentage-info{
  background-color: var(--background-secondary);
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
}
hr{
  opacity: 60%;
  border: 1px solid var(--navbar-bg);
}
.time-period, .time-period-data{
  display: flex;
  justify-content: space-around;
  padding: .3rem 0;
}
.time-period-data{
  font-size: 0.9rem;
}
/* info description */
.crypto-info--description{
  background-color: var(--background-secondary);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}
.description-cell{
  border-bottom: 1px solid rgb(85, 85, 85);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}
.description-cell--title{
  font-size: 0.9rem;
  color: rgb(162, 169, 182);
}
.description-cell--data{

}

.price-info{
  background-color: var(--background-secondary);
  width: 100%;
  margin: 1rem 0;
  padding: 0.6rem;
  border-radius: 8px;
}
.price-info--header{
  margin: 0.2rem 0.6rem;
  color: #d5d5d5;
}
.price-info--title{
  display: flex;
  align-items: center;
}
.price-info--title img{
  margin-right: 0.5rem ;
}
.price-info--value{
  display: flex;
  align-items: center;
}
.price-info--value span{
  margin-left: 0.5rem;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {

}